* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}



.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.main {   
  flex: 70%;
  background-color: white;
  padding: 20px;
   text-align: center;
}

.textfloat {
  float: right;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}

.btn {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #25eec6;
}

.dlb a{
  text-decoration: none;
}

input[type=text], select {
  padding: 5px 5px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=radio] {
  width: 40px;
}

table, th, td, tr {
  margin: auto;
  text-align: left;
}

#table table {
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

#table tr {
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

#table td {
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.ftt {
  background-color: #eee;
  padding: 10px;
}

button {
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border: none;
  float: right;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  text-align:center 
}

textarea {
  width: 300px;
  height: 100px;
  padding: 5px 5px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
*/
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.formbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.formbtn:hover {
  opacity:1;
}

.container {
  padding: 16px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.hidden {
  font-size: 1;
  text-decoration: none;
  float: right;
}

.hidebtn {
  background-color: #1abc9c;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}